/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  min-width: 1200px;

  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 119.62%;
  color: #636363;

  /* background-color: #2F80ED; */
  background-image: url("img/bg1.png"), url("img/bg2.png"), url("img/bg3.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right top;
  background-size: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  }

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.navigation-city,
.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.navigation-city {
  width: 325px;
  justify-content: space-between;
  margin-right: 158px;
}

.navigation-city-item {
  text-transform: uppercase;
}

.site-navigation {
  width: 475px;
  justify-content: space-between;
  margin-right: 70px;
}

.city-link {
  display: inline-block;
  text-decoration: none;
  color: #2F80ED;

}
.site-navigation-link {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

a.site-navigation-link:hover,
a.site-navigation-link:focus,
a.site-navigation-link:active {
  text-shadow: 0 0 1px #FFFFFF, 0 0 1px #FFFFFF, 0 0 1px #FFFFFF;
}

a.city-link:hover,
a.city-link:focus,
a.city-link:active {
  font-weight: 700;
}

.button {
  display: inline-block;
  text-align: center;
  margin: 0;
  border-radius: 50px;
}

.main-navigation .button {
  width: 160px;
  padding: 14px 0;
  background-color: #FFFFFF;
  color: #2F80ED;
}

a.button:hover,
a.button:focus,
a.button:active {
  font-weight: 700;
}

.promo {
  display: flex;
  margin-bottom: 175px ;
}

.promo-rating-column {
  width: 565px;
  margin-right: 35px;
}

.promo-text-column {
  width: 550px;
  margin-top: 87px;
  margin-left: 2px;
  color: #FFFFFF;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-top: 360px;
  margin-left: 55px;
  padding: 40px;
  border-radius: 50%;
  background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
  box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
}

.rating-text {
  line-height: 153.12%;
  color: #2F80ED;
  text-align: center;
  margin: 5px 0;
}

.rating-text-highlighted {
  font-weight: bold;
  font-size: 34px;
  line-height: 153.12%;
  color: #2F80ED;
  margin: 5px 0;
}

.rating-link {
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
  line-height: 20px;
  color: #2F80ED;
}

.promo-text-place {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.41%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.promo-text-title {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 124.41%;
  padding: 20px 0;
}

.promo-text-small {
  margin: 0;
  font-size: 18px;
  line-height: 124.41%;
  padding-bottom: 45px;
}

.promo-text-column .button {
  text-transform: uppercase;
  font-weight: 700;
  width: 192px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #64E2CD;
  color: #FFFFFF;
  box-shadow: 0 0 0 15px rgba(100, 226, 205, 0.5);
}

.audience {
  background-image: url("img/audience-elipse.png"), url("img/audience-rectangle.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top right;
  background-size: 100%;
  box-sizing: border-box;
  padding-top: 92px;
  padding-bottom: 142px;
  margin-bottom: 170px;
}

.section-title {
  margin: 0;
  font-size: 30px;
  line-height: 124.41%;
  color: #000000;
}

.audience-list {
  display: flex;
  justify-content: space-between;
  width: 825px;
  padding-top: 97px;
  margin: 0;
}

.audience-item {
  width: 225px;
}

.audience-item-category {
  width: 150px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  color: #2F80ED;
}

.audience-item-description {
  margin: 0;
  font-size: 14px;
  line-height: 143.55%;
}

.course-programme {
  margin-bottom: 100px;
}

.programme-list {
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 105px;
}

.programme-item {
  width: 240px;
}

.programme-item-topic {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  color: #2F80ED;
}

.programme-item-description {
  margin: 0;
  font-size: 14px;
  line-height: 143.55%;
}

.course-programme a.button {
  text-transform: uppercase;
  color: #2F80ED;
  font-weight: 600;
  font-size: 14px;
  line-height: 143.55%;
  border: none;
  border-bottom: 1px dashed #2F80ED;
}

.advantages {

  background-image: url("img/Rectangle\ \(2\).png"), url("img/Rectangle\ \(1\).png"), url("img/Rectangle.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  /* background-position: left top; */
  background-size: auto;
}

.advantages .section-title {
  color: #FFFFFF;
  padding-top: 117px;
  padding-bottom: 42px;
}

.advantages-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  box-sizing: border-box;
  position: relative;
  width: 565px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 152px;
  padding-right: 51px;
  margin-bottom: 40px;
}

.advantages-item:first-child::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 61px;
  background-image: url("img/advantage-icon1.svg");
  left: 52px;
}

.advantages-item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 61px;
  background-image: url("img/advantage-icon2.svg");
  left: 52px;
}

.advantages-item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 61px;
  background-image: url("img/advantage-icon3.svg");
  left: 52px;
}
.advantages-item:last-child::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 61px;
  background-image: url("img/advantage-icon4.svg");
  left: 52px;
}

.advantages-item-topic {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  color: #2F80ED;
}

.advantages-item-description {
  margin: 0;
  font-size: 16px;
  line-height: 143.55%;
}

.author .section-title {
  padding-top: 112px;
  padding-bottom: 77px;
  font-size: 30px;
  line-height: 158.47%;
}

.author-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 175px;
}

.author-name-colomn {
  width: 351px;
  text-align: center;
}

.author-name-colomn h3 {
  margin: 0;
  font-size: 24px;
  line-height: 44px;
  color: #2F80ED;
}

.author-name-colomn p {
  margin: 0;
  font-size: 16px;
  line-height: 29px;
}

.author-advantages-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.author-advantages-item {
  width: 245px;
  position: relative;
}

.author-advantages-item:first-child::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 61px;
  background-image: url("img/Group.svg");
  top: -95px;
}

.author-advantages-item:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 61px;
  background-image: url("img/Group\ 2.svg");
  top: -95px;
}

.author-advantages-item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 56px;
  background-image: url("img/Group\ 3.svg");
  top: -95px;
}
.author-advantages-item:last-child::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 61px;
  background-image: url("img/Group\ 4.svg");
  top: -95px;
}

.author-advantages-item-topic {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 143.55%;
  letter-spacing: 0.05em;
  color: #2F80ED;
}

.author-advantages-item-description {
  margin: 0;
  font-size: 16px;
  line-height: 143.55%;
}

.gallery .section-title {
  padding-top: 143px;
  padding-bottom: 75px;
  font-size: 30px;
  line-height: 124.41%;
  text-align: center;
}

.gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  /* margin-right: 25px; */
  margin-bottom: 23px;
}

.tariffs .section-title {
  padding-top: 225px;
  padding-bottom: 75px;
  text-align: center;
}

.tariffs-list {
  padding: 0;
  padding-bottom: 247px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.tariffs-item {
  list-style: none;
  box-sizing: border-box;
  padding: 70px 0;
  width: 271px;
  background-color: rgba(47, 128, 237, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tariff-price {
  margin: 0;
  padding-bottom: 12px;
  order: -1;
  font-weight: bold;
  font-size: 25px;
  line-height: 40px;
  color: #2F80ED;
}

.tariff-title {
  margin: 0;
  padding-bottom: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 158.47%;
  color: #2F80ED;
}

.tariffs a.button {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 192px;
  display: inline-block;
  background: #52D1BC;
  border-radius: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-footer {
  box-sizing: border-box;
  padding-top: 41px;
  padding-bottom: 41px;
  background-color: #2F80ED;
}

.footer-wrapper-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 45px;
}

.main-footer a.city-link {
  color: #FFFFFF;
}

.main-footer .button {
  width: 160px;
  padding: 12px 0;
  background-color: #FFFFFF;
  color: #2F80ED;
}

.footer-wrapper-dark {
  box-sizing: border-box;
  padding: 30px 0;
  background-color: #185FBF;
}

.footer-info {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.footer-info-item,
.footer-info-item a {
  color: #FFFFFF;
  opacity: 0.7;
}

.footer-info-item:first-child {
  margin-right: auto;
}

.footer-info-item a {
  display: inline-block;
  margin-left: 50px;
}
